extends layout

block content

  if errors && errors.length > 0
    .error-container
      h3 Błędy walidacji:
      ul
        each error in errors
          li= error

  .form-container
    .form-wrapper
      h1 Dodaj Wynalazek

      form(action="/wynalazki/add" method="POST")
        .form-group
          label.form-label(for="nazwa") Nazwa Wynalazku
          input.form-input(type="text" id="nazwa" name="nazwa" required placeholder="Wprowadź nazwę wynalazku")

        .form-group
          label.form-label(for="rok") Rok
          input.form-input(type="number" id="rok" name="rok" min="1000" max="9999" required placeholder="Wprowadź rok wynalazku")

        .form-group
          label.form-label(for="twórca_id") Twórca
          select.form-input(id="twórca_id" name="twórca_id" required)
            if tworcy && tworcy.length > 0
              each tworca in tworcy
                option(value=tworca._id.toString()) #{tworca.imie} #{tworca.nazwisko}
            else
              option(disabled selected) Brak dostępnych twórców

        .form-group
          label.form-label(for="czy_używany") Czy używany
          input(
            type="checkbox" 
            id="czy_używany" 
            name="czy_używany" 
            value="on"
            checked=false
          )

        .form-group
          label.form-label(for="zastosowania") Zastosowania
          input.form-input(type="text" id="zastosowania" name="zastosowania" placeholder="Wpisz zastosowania (oddzielone przecinkami)")

        .form-group
          label.form-label(for="pierwsze_publiczne_demonstracje") Pierwsze publiczne demonstracje
          input.form-input(type="number" id="pierwsze_publiczne_demonstracje" name="pierwsze_publiczne_demonstracje" placeholder="Rok pierwszych publicznych demonstracji")

        .form-group
          label.form-label(for="wprowadzenie_na_rynek") Wprowadzenie na rynek
          input.form-input(type="number" id="wprowadzenie_na_rynek" name="wprowadzenie_na_rynek" placeholder="Rok wprowadzenia na rynek")

        button.form-button(type="submit") Dodaj Wynalazek
