extends layout

block content
  .form-container
    .form-wrapper
      h1 Edytuj Twórcę

      form(action=`/tworcy/${tworca._id}?_method=PUT` method="POST")
        .form-group
          label.form-label(for="imie") Imię
          input.form-input(type="text" id="imie" name="imie" required value=tworca.imie)

        .form-group
          label.form-label(for="nazwisko") Nazwisko
          input.form-input(type="text" id="nazwisko" name="nazwisko" required value=tworca.nazwisko)

        .form-group
          label.form-label(for="narodowosc") Narodowość
          input.form-input(type="text" id="narodowosc" name="narodowosc" required value=tworca.narodowosc)

        .form-group
          label.form-label(for="dataUrodzenia") Data urodzenia
          input.form-input(type="date" id="dataUrodzenia" name="dataUrodzenia" required value=tworca.dataUrodzenia)

        .form-group
          label.form-label(for="dataSmierci") Data śmierci (opcjonalnie)
          input.form-input(type="date" id="dataSmierci" name="dataSmierci" value=tworca.dataSmierci)

        .form-group
          label.form-label(for="zdjecie") Link do zdjęcia
          input.form-input(type="url" id="zdjecie" name="zdjecie" required value=tworca.zdjecie)

        .form-group
          label.form-label(for="biografia") Biografia
          textarea.form-input(id="biografia" name="biografia" required)= tworca.biografia

        .form-group
          label
            input(type="checkbox" name="nobel" checked=tworca.nagrody.nobel)
            | Otrzymał nagrodę Nobla?

        .form-group
          label.form-label(for="inneNagrody") Inne nagrody
          input.form-input(type="text" id="inneNagrody" name="inneNagrody" value=tworca.nagrody.inne.join(', ') placeholder="Podaj inne nagrody, oddzielając je przecinkami")

        button.form-button(type="submit") Zapisz zmiany

    .image-fixed
      img(src="/img/undraw_nature_m5ll.svg" alt="Ilustracja twórcy")
