extends layout

block content
  h1 Lista Tw贸rc贸w И
  p Tutaj znajdziesz tw贸rc贸w, kt贸rzy w znaczcy spos贸b przyczynili si do rozwoju r贸偶nych dziedzin.

  div.buttons-holder
    a(href='/tworcy/add' class='add-button') Dodaj Nowego Tw贸rc
    form(action='/tworcy', method='get' class='form-align')
      select(name='sort' class='select-button')
        option(value='imie') Imi
        option(value='nazwisko') Nazwisko
        option(value='dataUrodzenia') Data urodzenia
      select(name='order' class='select-button')
        option(value='asc') Rosnco
        option(value='desc') Malejco
      button(type='submit' class='add-button') Sortuj

  div.center-content
    div(class='table-container')
      table(class='wynalazki-table')
        thead
          tr(class="column-names")
            th Imi i Nazwisko
            th Narodowo
            th Data Urodzenia
            th Wiek
            th Ma Nobla?
            th Czy 呕yje?
            th Akcje
        tbody
          each tworca in tworcy
            tr
              td 
                a(href=`/tworcy/${tworca._id}`)= `${tworca.imie} ${tworca.nazwisko}`
              td= tworca.narodowosc
              td= new Date(tworca.dataUrodzenia).toLocaleDateString('pl-PL')
              td= tworca.wiek
              td= tworca.nagrody.nobel ? 'Tak' : 'Nie'
              td= tworca.czy_zyje ? 'Tak' : 'Nie'
              td.actions
                a.button.small(href=`/tworcy/edit/${tworca._id}`) Edytuj
                form(action=`/tworcy/${tworca._id}?_method=DELETE` method='POST')
                  button.button.small.danger(type='submit') Usu
