extends layout

block content
  .container
    .creator-details
      .header
        h1= `${tworca.imie} ${tworca.nazwisko}`

      .columns
        .left-column
          if tworca.zdjecie
            img.creator-image(src=tworca.zdjecie alt=`Portret ${tworca.imie} ${tworca.nazwisko}`)
          else
            .no-image Brak zdjęcia

        .right-column
          .info-box
            h2 Podstawowe informacje
            .info-item
              span.label Narodowość: 
              span.value= tworca.narodowosc
            .info-item
              span.label Data urodzenia: 
              span.value= new Date(tworca.dataUrodzenia).toLocaleDateString('pl-PL')
            .info-item
              span.label Data śmierci: 
              span.value= tworca.dataSmierci ? new Date(tworca.dataSmierci).toLocaleDateString('pl-PL') : '-'
            .info-item
              span.label Wiek: 
              span.value= tworca.wiek
            .info-item
              span.label Czy żyje: 
              span.value= tworca.czy_zyje ? 'Tak' : 'Nie'

          .info-box
            h2 Nagrody
            if tworca.nagrody.nobel
              .award
                span.emoji 🏆
                span Nobel
            each nagroda in tworca.nagrody.inne
              .award
                span.emoji 🎖️
                span= nagroda

      .biography
        h2 Biografia
        p= tworca.biografia

    .footer-actions 
      a.button(href='/tworcy') ← Wróć do listy 
      a.button(href=`/tworcy/edit/${tworca._id}`) Edytuj