extends layout

block content
  h1 Lista wynalazków 😎
  p Tutaj znajdziesz wynalazki, które miały znaczący wpływ na rozwój cywilizacji.

  div.buttons-holder
    a(href='/wynalazki/add' class='add-button') Dodaj Wynalazek
    form(action='/wynalazki', method='get' class='form-align')
      select(name='sort' class='select-button')
        option(value='nazwa') Nazwa
        option(value='rok') Rok
        option(value='historia.pierwsze_publiczne_demonstracje') Demonstracja
        option(value='historia.wprowadzenie_na_rynek') Wprowadzenie
      select(name='order' class='select-button')
        option(value='asc') Rosnąco
        option(value='desc') Malejąco
      button(type='submit' class='add-button') Sortuj

  div.center-content
    div(class='table-container')
      table(class='wynalazki-table')
        thead
          tr(class="column-names")
            th Nazwa
            th Rok
            th Status
            th Zastosowania
            th Pierwsza demonstracja
            th Wprowadzenie na rynek
            th Twórca
        tbody
          each wynalazek in wynalazki
            tr
              td #{wynalazek.nazwa}
              td(class='text-center') #{wynalazek.rok}
              td(class='text-center') #{wynalazek.czy_używany ? '✅ W użyciu' : '❌ Wycofany'}
              td 
                each zastosowanie, index in wynalazek.zastosowania
                  span.tag #{zastosowanie}
                  if index < wynalazek.zastosowania.length - 1
                    |, 
              td(class='text-center') #{wynalazek.historia.pierwsze_publiczne_demonstracje || '—'}
              td(class='text-center') #{wynalazek.historia.wprowadzenie_na_rynek || '—'}
              td 
                if wynalazek.twórca_id
                  a(href=`/tworcy/${wynalazek.twórca_id._id}`) 
                    | #{wynalazek.twórca_id.imie} #{wynalazek.twórca_id.nazwisko}
                else
                  | Brak danych